:root {
    --winner: 	#fdd813;
    --card: #14bdac;
    --draw: #adff2f;
}

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    background-color: black;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
